*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    -webkit-user-select: auto;
}
.content {
    position: absolute;
    width: 700px;
    height: 436px;
    top: 100px;
    left: 300px;
    background-image: url("../img/baccground.jpeg");
}

.upper_div {
    position: absolute;
    min-width: 50px;
    max-width: 250px;
    min-height: 20px;
    max-height: 100px;
    background-color: lightgray;
    border-radius: 10px;
}

.upper_div::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid lightgray;
}

.upper_div_textarea {
    width: 50px;
    height: 20px;
    margin: 5px;
}

.div_for_text {
    word-wrap: break-word;
    padding: 5px;
    position: absolute;
    min-width: 50px;
    max-width: 250px;
    min-height: 20px;
    max-height: 100px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.div_for_text::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid white;
}

.p_for_text {
    min-width: 50px;
    max-width: 250px;
    min-height: 20px;
    max-height: 100px;
    word-wrap: break-word;
    padding: 7px;
}