@font-face {
    font-family: Kaushan Script;
    src: url('../font/google_fonts/KaushanScript-Regular.otf');
}

@font-face {
    font-family: BLACKJAR;
    src: url('../font/google_fonts/BLACKJAR.TTF');
}

@font-face {
    font-family: Proxima Nova;
    src: url('../font/google_fonts/Proxima Nova Light.otf');
}

@font-face {
    font-family: Proxima Nova Bold;
    src: url('../font/google_fonts/Proxima Nova Bold.otf');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Proxima Nova, Serif;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

header .container {
    background-image: url("../perth_template/blue-pattern.jpg");
}

header {
    background-image: url("../perth_template/blue-pattern.jpg");
    width: 100%;
}

.p_div {
    height: 105px;
    width: 100px;
    background-color: white;
    color: #02aae8;
    text-align: center;
    font-size: 50px;
    font-family: Kaushan Script, serif;
    border-bottom: 5px solid #00abe9;
    box-shadow: 15px 12px 0 -2px #01b1ea;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.container_for_header {
    height: 651px;
}

.gamburger_in_div {
    color: white;
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-top: 35px;
}

.h1_header {
    font-family: BLACKJAR, Verdana;
    font-size: 70px;
    font-weight: 100;
    color: white;
    float: right;
    margin-top: 152px;
    margin-right: -33px;
}

.h4_header {
    margin-top: 19px;
    font-family: "Proxima Nova", Light;
    font-size: 35px;
    font-weight: 100;
    color: white;
    float: right;
}

.h4_span {
    font-family: Proxima Nova Bold, serif;
    font-size: 35px;
    font-style: italic;
}

.button_header {
    float: right;
    margin-left: 40px;
    margin-top: 45px;
    height: 58px;
    width: 174px;
    background-image: url("../perth_template/blue-pattern.jpg");
    color: white;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 3px;
}

.button_span_header {
    font-size: 14px;
    margin: 0 9px 0 0;
}

.image_header {
    margin-top: 320px;
    margin-left: -29px;
    position: relative;
    z-index: 0;
}

.ipad_section {
    background-color: #f4f4f4;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom -78px right -26px;
    background-image: url(../perth_template/ipad.png);
    position: relative;
}

.section_for_ipad {
    min-height: 650px;
}

.h1_ipad_section {
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 137px;
}

.p1_ipad_section {
    max-width: 541px;
    min-width: 200px;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 24px;
}

.p_span {
    display: flex;
    margin-top: 25px;
    max-width: 567px;
    min-width: 250px;
}

.span_ipad_section {
    width: 7px;
    height: 75px;
    background-image: url("../perth_template/blue-pattern.jpg");
}

.p2_ipad_section {
    margin-left: 21px;
    font-size: 17px;
    max-width: 615px;
    min-width: 200px;
    line-height: 1.5;
    font-style: italic;
}

.button_ipad_section {
    width: 173px;
    height: 57px;
    font-size: 15px;
    font-weight: bold;
    color: #00c0a7;
    border: 2px solid #00c0a7;
    border-radius: 3px;
    background-color: #f4f4f4;
    margin-top: 65px;
}

.span_button_ipad_section {
    margin: 0 4px 0 0;
}

.devices_section {
    background-color: white;
    width: 100%;
    height: 517px;
    background-repeat: no-repeat;
    background-position: bottom -61px left -34px;
    background-image: url(../perth_template/devices.png);
    position: relative;
}

.section_for_devices {
    min-height: 650px;
}

.h1_devices_section {
    font-size: 38px;
    font-weight: 100;
    float: right;
    margin-top: -36px;
    margin-right: 115px;
}

.p1_devices_section {
    font-size: 17px;
    float: right;
    margin-top: 33px;
    margin-left: 545px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
}

.p2_devices_section {
    font-size: 16px;
    margin-top: 133px;
    margin-left: 545px;
    line-height: 24px;
}

.button_devices_section {
    height: 57px;
    width: 224px;
    background-color: white;
    color: #ea4c89;
    border: 2px solid #ea4c89;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-top: 83px;
    margin-right: 171px;
}

.button_devices_section1 {
    height: 57px;
    width: 224px;
    background-color: white;
    color: #ea4c89;
    border: 2px solid #ea4c89;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-top: 80px;
    margin-left: 307px;
    display: none;
}

.span_button_devices_section {
    margin: 0 12px 0 0;
}

.green_section {
    background-image: url("../perth_template/green-pattern.jpg");
    width: 100%;
}

.container_for_green_section {
    min-height: 326px;
    background-image: url("../perth_template/green-pattern.jpg");
}

.h1_green_section {
    letter-spacing: 2px;
    color: white;
    font-size: 37px;
    padding-top: 93px;
    padding-left: 294px;
}

.button_green_section {
    height: 57px;
    width: 224px;
    background-image: url("../perth_template/green-pattern.jpg");
    color: white;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 3px;
    margin-top: 32px;
    margin-left: 358px;
}

.span_button_green_section {
    font-size: 14px;
    margin: 0 10px 0 0;
}

.icon_section {
    width: 100%;
    background: #f4f4f4;
}

.container_for_icon_section {
    height: 648px;
    padding-top: 242px;
    padding-left: 306px;
}

.box_for_icons {
    display: flex;
    flex-direction: row;
}

.circle_for_icon {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 25px;
    text-align: center;
    padding: 12px;
    margin: 0 35px 0 0;
}

.input_icon_sektion {
    display: flex;
    margin-left: -48px;
    margin-top: 68px;
    letter-spacing: 1px;
}

.label_icon_section {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.email_icon_section {
    height: 44px;
    width: 165px;
    border: 0px solid white;
    background-color: white;
    font-style: italic;
    letter-spacing: 0.7px;
    margin-left: 26px;
    border-radius: 5px 0 0 5px;
}

.a_icon_section {
    color: #00c3ea;
    padding-top: 10px;
    padding-left: 10px;
}

.span_icon_section {
    opacity: .4;
    margin-left: -4px;
}

.linck_icon_section {
    height: 44px;
    width: 44px;
    background-color: white;
    margin-left: -4px;
}

.fa-envelope {
    line-height: 43px;
    padding-left: 4px;
}

.footer_section {
    width: 100%;
    min-height: 100px;
}

.box_for_footer {
    font-weight: bold;
    padding-left: 328px;
    padding-top: 45px;
}

.fa-copyright {
    font-size: 10px;
}

.span_for_year {
    font-size: 12px;
}

.span_for_perth {
    font-size: 12px;
    color: #00c3ea;
    letter-spacing: .9px;
}

.span_for_footer {
    font-size: 12px;
    font-style: italic;
    letter-spacing: .6px;
}

.box_for_icons_footer {
    background-color: #f4f4f4;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-top: -30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.fa-angle-up {
    line-height: 38px;
    padding-left: 14px;
}



@media screen and (max-width: 1060px) {
    .button_devices_section {
        margin-right: 45px;
    }
}

@media screen and (max-width: 785px) {
    .container {
        width: 785px;
    }

    .p_div {
        margin-left: 100px;
    }

    .gamburger_in_div {
        margin-right: 100px;
    }

    .ipad_section {
        background-position: bottom -74px right 0px;
    }

    .button_header {
        margin-right: 100px;
    }

    .image_header {
        margin-left: 108px;
    }

    .h4_header {
        margin-left: 100px;
        font-size: 27px;
        margin-right: 100px;
    }

    .h1_ipad_section {
        font-size: 35px;
        margin-left: 100px;
        padding-top: 79px;
    }

    .p1_ipad_section {
        width: 300px;
        font-size: 14px;
        margin-left: 50px;
    }

    .p2_ipad_section {
        width: 300px;
        font-size: 14px;
        margin-left: 5px;
    }

    .button_ipad_section {
        margin-left: 50px;
    }

    .span_ipad_section {
        height: 103px;
        margin-left: 50px;
    }

    .h1_devices_section {
        font-size: 35px;
        margin-right: 342px;
    }

    .p2_devices_section, .p1_devices_section {
        font-size: 14px;
        margin-right: 262px;
        margin-left: 185px;
    }

    .devices_section {
        background-position: bottom -61px left 0;
    }

    .button_devices_section {
        display: none;
    }

    .button_devices_section1 {
        display: block;
    }

    .container_for_green_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h1_green_section {
        padding-top: 0;
        padding-left: 0;
    }

    .button_green_section {
        margin-left: 0;
        margin-top: 50px;
    }

    .container_for_icon_section {
        padding-left: 231px;
    }

    .box_for_footer {
        padding-left: 260px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 650px;
    }

    .p1_ipad_section {
    }

    .h4_header {
        margin-left: 50px;
        font-size: 25px;
        margin-right: 50px;
    }

    .container_for_header {
        height: 515px;
    }

    .h1_ipad_section {
        font-size: 32px;
        margin-left: 181px;
        padding-top: 16px;
    }

    .ipad_section {
        background-position: bottom 5px right 120px;
    }

    .p1_ipad_section {
        margin-left: 173px;
        margin-top: 81px;
    }

    .p_span {
        margin-left: 123px;
    }

    .button_ipad_section {
        margin-left: 242px;
    }

    .h1_devices_section {
        margin-right: 193px;
        margin-top: -47px;
    }

    .p2_devices_section, .p1_devices_section {
        margin-right: 123px;
    }

    .container_for_icon_section {
        padding-left: 161px;
    }

    .box_for_footer {
        padding-left: 194px;
    }
}
