* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: lightgrey;
}

.container {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 50px;
}

.caption_for_vote {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: cornflowerblue;
    font-size: 50px;
}

.image_for_form {
    margin: 10px;
}

.button_for_form {
    width: 100px;
    height: 40px;
    font-size: 30px;
    background-color: chocolate;
}

.piechart {
    width: 900px;
    height: 500px;
}
