// Microsoft
@font-face {
  font-family: "Microsoft H";
  src: url("../fonts/Microsoft/msyh.ttc");
}

@font-face {
  font-family: "Microsoft HBD";
  src: url("../fonts/Microsoft/msyhbd.ttc");
}

@font-face {
  font-family: "Microsoft HL";
  src: url("../fonts/Microsoft/msyhl.ttc");
}

// Tahoma
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma/tahoma.ttf");
}

@font-face {
  font-family: "Tahoma BD";
  src: url("../fonts/Tahoma/tahomabd.ttf");
}

// Ubuntu
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/UbuntuCondensed-Regular.ttf");
}

@font-face {
  font-family: "RalewayLight";
  src: url("/fonts/raleway/RalewayLight/RalewayLight.eot");
  src: url("/fonts/raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway/RalewayLight/RalewayLight.woff") format("woff"), url("/fonts/raleway/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewayBold";
  src: url("/fonts/raleway/RalewayBold/RalewayBold.eot");
  src: url("/fonts/raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway/RalewayBold/RalewayBold.woff") format("woff"), url("/fonts/raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewayExtraBold";
  src: url("/fonts/raleway/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("/fonts/raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("/fonts/raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratBold";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratMedium";
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratLight";
  src: url("/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}