.subcategory__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .item-sub__wrapper {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #000000;
    //box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
  }
}

.call {
  display: none;
  position: sticky;
  top: 15px;
  left: 2%;
  background-image: url("../img/perezvon.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
}
.up {
  display: none;
  position: fixed;
  left: 12%;
  bottom: 15px;
}

.category-table__wrapper {

}

.category__name {
  font-size: 44px;
  font-family: Ubuntu,sans-serif;
}

.table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  padding: 5px;
  background-color: #9797974d;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);

  .table-img__wrapper {
    width: 23%;
    .table__img {
      width: 100%;
      display: flex;
    }
  }
  .table-item__wrapper {
    display: flex;
    flex-direction: column;
    width: 77%;
    border: solid 1px #000000;
    .table-item__title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #000000;
      padding: 1px 5px;
    }
      .item__title {
        display: flex;
        width: 26%;
        font-size: 10px;
        color: #ffffff;
        font-family: Ubuntu,sans-serif;

      }
      .item__ed {
        display: flex;
        justify-content: center;
        width: 5%;
        font-size: 10px;
        color: #ffffff;
        font-family: Ubuntu,sans-serif;
      }
      .item-description__wrapper {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        .item__description {
          display: flex;
          justify-content: center;
          font-size: 10px;
          color: #ffffff;
          font-family: Ubuntu,sans-serif;
          flex-grow: 1;
        }
      }


    .table__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 1px 5px;
      border-bottom: solid 1px #000000;
      &:last-of-type {
        border-bottom: none;
      }
      &:nth-of-type(odd) {
        background-color: #9797974d;
      }

      .item__title {
        color: #000000;
        border-right: solid 1px #000000;
      }
      .item__ed {
        color: #000000;
        border-right: solid 1px #000000;
      }
      .item-description__wrapper {

        .item__description {
          color: #000000;
          border-right: solid 1px #000000;
          &:last-of-type {
            border: none;
          }
        }
      }
    }
  }
}

.header-category__wrapper {
  width: 100%;
  //height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: #555861;
  //position: absolute;
  background-color: rgba(0,0,0,0.07);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  top: 0;
  right: 0;
  padding: 5px;
  position: sticky;
  .category-logo__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    //align-items: center;
    justify-content: space-around;
    .logo-img__wrapper {
      width: 15%;
      display: block;
      background-color: rgba(0,0,0,0.1);
      //filter: grayscale(100%);
      padding: 5px;

      &:hover {
        //filter: grayscale(0);
        box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
      }

      .category-img {
        width: 100%;
      }
    }

  /*  .logo-img__wrapper:nth-child(1) {
      width: 235px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .logo-img__wrapper:nth-child(2) {
      width: 138px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .logo-img__wrapper:nth-child(3) {
      width: 192px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .logo-img__wrapper:nth-child(4) {
      width: 201px;
    }
    .logo-img__wrapper:nth-child(5) {
      width: 188px;
      height: 75px;
    }
    .logo-img__wrapper:nth-child(6) {
      width: 312px;
    }*/
  }
}

.prise-list__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  //flex-wrap: wrap;


  .prise-list__item {
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //background-color: #9797974d;
    margin: 20px 0;
    padding-right: 30px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);

    &:hover, &.active {
      box-shadow: inset 0 0 10px 3px rgba(0,0,0,.4);
      .prise-list__button {
        text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
        width: 60.5%;
        padding-right: 1px;
      }
      .prise-list__img {
        width: 29.5%;
      }

    }

    .prise-list__img {
      width: 30%;
    }
    .prise-list__button {
      width: 60%;
      text-align: center;
      font-size: 30px;
      font-family: RalewayBold,sans-serif;
      color: #000000;
      //height: 50px;
      margin: 15px auto;
    }
  }
}

.sub-item--img__wrapper {
  width: 60%;
  height: 100%;
  display: flex;
}

.nav-menu {
  margin-right: -2px;
  position: sticky;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  top: 0;
}

.nav-menu__wrapper {

}

.nav-menu--links__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background-color: #555861;
}

.nav-menu__link {
  display: flex;
  height: 30px;
  width: 20%;
  font-size: 14px;
  font-family: "MontserratRegular",sans-serif;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  transition: .2s ease;

  &:hover, &.active {
    background-color: #ee1b22;
    //color: #555861;
    //background-color: rgba(100,0,0,0.1);
  }
}

.one-product__wrapper {
  .one-product--description__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .description-text__wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 20px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .one-product--img__wrapper {
      width: 50%;
    }
  }
  .table {
    .table-item__wrapper {
      .table-item__title, .table__item {
        padding: 10px 5px;
      }
      .item__title, .item__ed, .item__description {
        font-size: 14px;
      }
    }
  }

  .kotel__sizes {
    margin: 30px 0;
  }
}

.contacts__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;

  iframe {
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
  }

  p {
    font-family: Microsoft HBD,sans-serif;
    font-size: 26px;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  strong {
    font-size: 32px;
    font-family: Ubuntu,sans-serif;
    color: #911548;
    font-weight: normal;
    //margin-left: 5%;
  }

  .about-img__wrapper {
    margin: 20px 5%;
  }
}