@font-face {
  font-family: "Microsoft YaHei";
  src: url("../fonts/Microsoft/msyh.ttc"),
       url("../fonts/Microsoft/msyhbd.ttc"),
       url("../fonts/Microsoft/msyhl.ttc");
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma/tahoma.ttf"),
       url("../fonts/Tahoma/tahomabd.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/UbuntuCondensed-Regular.ttf");
}