*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Pacifico;
    src: url('../fonts/Pacifico/Pacifico.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

html, body {
    height: 100%;
    font-family: Montserrat, serif;
}

.header {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.black_header {
    width: 100%;
    background-color: #635960;
}

.green_header {
    width: 100%;
    background-color: #8b8e59;
}

.yelow_header {
    width: 100%;
    background-color: #eada7d;
}

.beige_header {
    width: 100%;
    background-color: #fffecd;
}

.blue_header {
    width: 100%;
    background-color: #7bc3ab;
}

.content {
    width: 100%;
    height: 1000px;
    background-color: #b9c783;
}
.content h1 {
    padding-top: 133px;
    color: #fffecd;
    text-align: center;
    font-size: 60px;
    font-family: Pacifico, serif;
}

.form_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.p1_form {
    padding-right: 136px;
    margin-top: 60px;
    font-family: Montserrat, serif;
}

.p2_form {
    padding-right: 104px;
    margin-top: 50px;
    font-family: Montserrat, serif;
}

.input_form {
    background-color: #fffecd;
    width: 270px;
    height: 35px;
    border: 0 solid #fffecd;
    font-size: 18px;
    padding-left: 10px;
    color: rgba(0,0,0,0.4);
    font-family: Montserrat, serif;
}

.submit_form {
    background-color: #635960;
    width: 270px;
    height: 35px;
    color: #fffecd;
    font-size: 18px;
    margin-top: 50px;
    //margin-bottom: 250px;
    border: 0 solid #635960;
    font-family: Montserrat, serif;
}

.massedg {
    font-size: 28px;
    color: red;
    padding-top: 50px;
    font-family: Montserrat, serif;
    display: none;
}

.hi_massedg {
    font-size: 28px;
    padding-top: 50px;
    margin-left: 623px;
    font-family: Montserrat, serif;
}

.window_for_massedg {
    display: flex;
    flex-direction: column;
    background-color: #fffecd;
    width: 550px;
    height: 350px;
    margin-left: 400px;
    margin-top: 40px;
    overflow-y: scroll;
    font-family: Montserrat, serif;
}

.chat_form {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 400px;
    margin-top: 25px;
    padding-bottom: 300px;
}

.textarea {
    width: 420px;
    height: 40px;
    display: block;
    background-color: #fffecd;
    border: 0 solid #fffecd;
    font-family: Montserrat, serif;
    font-size: 15px;
}

.chat_submit {
    width: 90px;
    background-color: #635960;
    color: white;
    border: 0 solid #635960;
}

.div_for_msg {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    min-height: 20px;
    max-height: 20px;
    margin: 2px;
    color: #635960;
    font-size: 20px;
    font-family: Montserrat, serif;
}

.span_for_text {
    margin-left: 5px;
}

.wrapper_for_div {
    height: 335px;
    width: 350px;
    position: relative;
    /* position: absolute; */
    /* top: 0px; */
    left: 39px;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: -50px;
    left: 36px;
    height: 245px;
    width: 253px;
    transform: rotate(340deg);
    background-color: rgba(0, 0, 0, 0.1);
}
