*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.header {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.black_header {
    width: 100%;
    background-color: #635960;
}

.green_header {
    width: 100%;
    background-color: #8b8e59;
}

.yelow_header {
    width: 100%;
    background-color: #eada7d;
}

.beige_header {
    width: 100%;
    background-color: #fffecd;
}

.blue_header {
    width: 100%;
    background-color: #7bc3ab;
}

.content {
    width: 100%;
    background-color: #b9c783;
}
.content h1 {
    padding-top: 133px;
    color: #fffecd;
    text-align: center;
    font-family: Pacifico, Montserrat;
    font-size: 60px;
}

.form_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.p1_form {
    padding-right: 162px;
    margin-top: 60px;
}

.p2_form {
    padding-right: 137px;
    margin-top: 50px;
}

.input_form {
    background-color: #fffecd;
    width: 270px;
    height: 35px;
    border: 0 solid #fffecd;
    font-size: 18px;
    padding-left: 10px;
    color: rgba(0,0,0,0.4);
}

.submit_form {
    background-color: #635960;
    width: 270px;
    height: 35px;
    color: #fffecd;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 250px;
    border: 0 solid #635960;
}

.massedg {
    font-size: 35px;
    color: mediumspringgreen;
    padding-top: 50px;
    margin-left: 544px;
}

.window_for_massedg {
    background-color: #fffecd;
    width: 550px;
    height: 350px;
    margin-left: 400px;
    margin-top: 40px;
    overflow-y: scroll;
}

.chat_form {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 400px;
    margin-top: 25px;
    padding-bottom: 300px;
}

.textarea {
    width: 420px;
    height: 40px;
    display: block;
    background-color: #fffecd;
    border: 0 solid #fffecd;
}

.chat_submit {
    width: 90px;
    background-color: #635960;
    color: white;
    border: 0 solid #635960;
}

.p_for_msg {
    color: #635960;
    font-size: 15px;
}