*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	width: 100%;
}

.lateral-background {
	width: 100%;
	background: rgb(100, 200, 100);
	display: flex;
	justify-content: center;
}

.lateral-background__text {
    width: 100%;
    background: rgb(100, 200, 100);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper_for_header {

}

.container__header {
	min-height: 70px;
	width: 960px;
	background: white;
	display: flex;
}

.container__header_logo {
	width: 50%;
	font-size: 3.4em;
	font-family: verdana;
}

.font-color {
	color: rgb(100, 200, 100);
}

.container__header_menu {

	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container__header_menu-linck {
	padding-left: 18%;
	width: 33%;
	font-size: 15px;
}

.container__img-content {
	width: 960px;
	background: rgb(100, 200, 100);
	display: flex;
	flex-direction: row;
}

.container__img-content_images {
    height: 100%;
    width: 50%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.container__img-content_text {
	width: 50%;
	padding-top: 6%;
	padding-right: 2%;
	color: white;
}

.p_style {
	padding: 2%;
}

.container__img-content_text-button {
	width: 27%;
	height: 14%;
	font-size: 1.3em;
	color: white;
	background: rgb(100, 200, 100);
	border-color: white;
	border-radius: 5px;
}

.wrapper_for_icon {
	width: 100%;
	background-color: chocolate;
	display: flex;
	justify-content: center;
}

.container__icon-content {
	width: 960px;
	text-align: center;
	background: white;
	padding-bottom: 4%;
	display: flex;
}

.container__icon-content_font-text {
	width: 33%;
	padding-top: 5%;
}

h3 {
	padding: 7%;
}

.container__icon-content_in-circle {
	height: 32%;
	width: 31%;
	border-radius: 100%;
	color: white;
	background: rgb(100, 200, 100);
	padding: 7%;
	margin: 0 auto;
}

.container__input-content {
	width: 960px;
	background: rgb(100, 200, 100);
}

.form_p {
	font-family: verdana;
	font-size: 1.1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.form_p  > input {
	margin: 1%;
}

.container__input-content_p {
	padding-bottom: 5%;
	padding-top: 3%;
	text-align: center;
	font-family: verdana;
	font-size: 2.5em;
}

.container__input-content_input {
    border: 0;
    outline: none;
	margin: 7px;
	padding: 3px;
	font-size: 15px;
	border-radius: 4px;
}

.container__input-content_input-radio {
    float: left;
    border-radius: 5px;
}



